

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .error-message {
            color: #ef4444; /* red-500 */
            margin-top: 1rem;
            font-weight: 500;
        }
    .product{
        margin-left: 200px;
    }
    .big-div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
  .container hero-content{
        background-image: url('../public/7.png');
    }
iframe{
  width: 900px;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}